<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbs.board.mapper.BoardMapper">
    
    <sql id="boardWhere">
        <where>
            <if test="postTitle != null and postTitle != ''">
                AND POST_TITLE = #{postTitle}
            </if>
            <if test="createUser != null and createUser != ''">
                AND CREATE_USER = #{createUser}
            </if>
        </where>
    </sql>

  <!--  <resultMap id="boardMap" type="com.bbs.board.vo.BoardVO">
        <result column="POST_TITLE" property="postTitle" jdbcType="NVARCHAR" javaType="String"/>
        <result column="CREATE_USER" property="createUser" jdbcType="NVARCHAR" javaType="String"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="NVARCHAR" javaType="String"/>
    </resultMap>-->
    
    <select id="getBoardList" resultType="com.bbs.board.vo.BoardVO" parameterType="com.bbs.board.vo.BoardVO">
        SELECT POST_TITLE
             , CREATE_USER
             , CREATE_DATE
        FROM POST
        <include refid="boardWhere"></include>
    </select>

    <select id="getBoardCount" resultType="int" parameterType="com.bbs.board.vo.BoardVO">
        SELECT COUNT(*) AS CNT
        FROM POST
        <include refid="boardWhere"></include>
    </select>

    <insert id="addBoard" parameterType="com.bbs.board.vo.BoardVO">
        INSERT
        INTO POST
        (
            BOARD_ID,
            POST_ID,
            POST_TYPE,
            POST_TITLE,
            POST_CONTENT,
            VIEW_CNT,
            DELETED,
            FILE_NO1,
            FILE_NO2,
            CREATE_DATE,
            CREATE_USER,
            UPDATE_DATE,
            UPDATE_USER
        )
        VALUES
        (
            '1',
            (
                SELECT MAX(NVL(TO_NUMBER(POST_ID), 0)) + 1
                FROM POST
            ),
            '1',
            #{postTitle},
            #{postContent},
            '0',
            NULL,
            NULL,
            NULL,
            TO_CHAR(SYSDATE, 'YYYY-MM-DD'),
            #{loginUser},
            TO_CHAR(SYSDATE, 'YYYY-MM-DD'),
            #{loginUser}
        )
    </insert>

    <update id="updateBoard" parameterType="com.bbs.board.vo.BoardVO">
        UPDATE POST
        SET POST_TITLE = #{postTitle},
            POST_CONTENT = #{postContent},
            UPDATE_DATE = TO_CHAR(SYSDATE, 'YYYY-MM-DD'),
            UPDATE_USER = #{loginUser}
        WHERE POST_ID = #{postId}
    </update>

    <delete id="deleteBoard" parameterType="com.bbs.board.vo.BoardVO">
        DELETE
        FROM POST
        WHERE POST_ID = #{postId}
    </delete>
</mapper>